# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Executable files
read-input
expand-rollno
subject-wise-rollno
strategy
arrange-rollno
report

# .out files (o/p files of program)
*.out
*.txt
*.pdf
*.html
*.csv
